@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Comfortaa", sans-serif;
  background-color: #f5f5f5;
}
.elms-font , h1, h2, h4{
  font-family: "Elms Sans", sans-serif !important;
}